/* Header */
.sm-button{
    float: right;
    height: 38px;
    width: 80px;
    margin: 5px 10px;
    border-radius: 8px;
    font-size: 12px;
    background-color: rgb(0, 102, 255);
    color: white;
    cursor: pointer; 
    text-align: center;
}

.log{
    margin-right: 40px;
}
/* Index Page */

.box-main{
    height: 100vh;
    background-image: url('/img/bg1.gif');
    background-size: cover;
}

.firstHalf{
    display: flex;
    flex-direction: column;
    width: 40%;
    float: right;
    justify-content: right;
    margin-right: 100px;
    margin-top: 60px;
}

.buts{
    align-items: right;
    justify-content: center;
}

.button{
    float: left;
    height: 50px;
    width: 150px;
    padding: 8px 20px;
    margin: 7px 5px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 16px;
    background: none;
    color: white;
    cursor: pointer; 
}

.button:hover{
    background-color: grey;
    color: white;
    transition: 0.5s ease;
}

.text-big-fp{
    font-family: monoton;
    font-size: 40px;
    text-align: left;
    color: burlywood;
}

.text-small-fp{
    text-align: center;
    font-family: Yellowtail;
    font-size: 40px;
    color: burlywood;
}

.text-big{
    font-family: yellowtail;
    font-size: 40px;
    text-align: center;
    color: goldenrod;
}

.text-small{
    text-align: center;
    font-family: poppins;
    font-size: 27px;
    color: burlywood;
}

/*  ============================
    about Section 
    ============================ */


.about{
    height: 100vh; 
    display: flex;
    background-image: url('/img/bg3.gif'); 
    width: 100%; 
    background-size: cover;
}
.thumbnail{
    max-height: 500px;
    width: 450px;
    margin-right: 70px;
    opacity: 1;
}

/* ================================
    services Section
    ================================ */

.services{
    display: flex;
    height:100vh ; 
    background-image: url('/img/bg3.gif');
    width: 100%; 
    background-size: cover;
    padding-top: 10px;
}

.thumbnail2{
    align-items: right;
    max-height: 300px;
    width: 300px;
    margin-right: 70px;
    opacity: 90%;
}

/* Navbar CSS */

.nav-item{
    float: right;
    font-family: Arial;
    text-decoration: none;
    color: gold;
    font-size: 22px;
    text-shadow: 2px 1px grey;
    margin-left: 20px; 
}

.nav-item:hover{
    color: white;
}


/* ======================== */
/* Register Page */
/* ========================== */

.form-container{
    background-image: url("/img/bg3.gif");
}

.form-check-label{
    color: white;
}

/*Login*/
.containerlg{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Card Title Display */
.card-title{
    font-size: 24px;
    font-family: arial;
}

.card-text{
    font-size: 20px;
    font-family: popins;
}

/* login */
.bg{
    background: url("/img/bg3.gif");
    width: 100%;
    height: 100vh; 
}

.form-containerlg{
    padding: 70px 60px;
    margin-top: 20vh;
    -webkit-box-shadow: -1px 1px 12px 5px rgba(219,219,219,1);
    -moz-box-shadow: -1px 1px 12px 5px rgba(219,219,219,1);
    box-shadow: -1px 1px 12px 5px rgba(219,219,219,1);
}

/* login Button Size */
.size{
    width: 100%;
}

/* Recruiter Home Page */
.containerRh{
    background: url('/img/crystal-img.jpg');
    background-size: cover;
    width: 100%;
    height: 70vh;
}

/* New Job Create */
.new{
    background: url('/img/bg3.gif');
    border: 5px outset grey;
    -webkit-box-shadow: 10px 10px 14px -4px rgba(219,219,219,1);
    -moz-box-shadow: 10px 10px 14px -4px rgba(219,219,219,1);
box-shadow: 10px 10px 14px -4px rgba(219,219,219,1);
}