<%- include('./partials/header') %>
    <section>

        <div class="box-main" id="Home">

            <div class="firstHalf">

                <p class="text-big">One's world might change here.</p>
                <p class="text-small">"With great Knowledge comes along great responsibilities."</p><br>

                <div class="buts">
                 <button class="button">Businesses</button>
                 <button class="button">Developers</button>
                </div>

            </div>

</section>

<section class="about" id="about">
    
    <div class="paras">
        <p class="text-big">CVFILTERS for Enterprises</p><br><hr><br>
        <p class="text-small">CVFILTERS lets you engage or source top developers with their Resume, while also enabling you to filtering, reviewing and finding your expectations one.</p><br><br>
        <p class="text-big">CVFILTERS for Developers</p><br><hr><br>
        <p class="text-small">CVFILTERS lets you find your favourite companies with your pre-sharpened skills, helps newcomers have a platform for off-campus selections.</p>
    </div>

    <div>
        <img class="thumbnail" src="/img/1.png" alt="person -standing">
    </div>

</section>

    <section class="services" id="services">
        
        <div class="paras">
            <p class="text-big">Services</p><br><hr><br>
            <hr>
            <p class="text-small">This website will help you to find jobs. Providing services for the different jobs to interviewed and being sort listed is now very easy through this website..
            </p>
        </div>

        <div>
            <img class="thumbnail2" src="/img/globe.png" alt="globe">
        </div>

    </section>
<%- include('./partials/footer') %> 