<%- include('./partials/header') %>
    <section>

        <div class="box-main" id="Home">

            <div class="firstHalf">

                <p class="text-big-fp">One's world might change here.</p>
                <p class="text-small-fp">"With great Knowledge comes along great responsibilities."</p><br>

                <div class="buts">
                 <a href="/registerRec"><button class="button">Businesses</button></a>
                 <a href="/registerDev"><button class="button">Developers</button></a>
                </div>

            </div>

</section>

<section class="about" id="about">
    
    <div class="paras">
        <br><br>
        <p class="text-big"><u>CVFILTER for Enterprises</u></p><br>
        <p class="text-small">CVFILTER lets you engage or source top developers with their Resume, while also enabling you to filtering, reviewing and finding your expectations one.</p><br><br>
        <p class="text-big"><u>CVFILTER for Developers</u></p><br>
        <p class="text-small">CVFILTER lets you find your favourite companies with your pre-sharpened skills, helps newcomers have a platform for off-campus selections.</p>
    </div>

    <div>
        <img class="thumbnail" src="/img/1.png" alt="person -standing">
    </div>

</section>

<%- include('./partials/footer') %> 