<%- include('../partials/header') %>

<div class="card mt-3">
    <div class="card-header">
        <h5 class="card-title"><strong>Show Job Lists</strong></h5>
    </div>
    <div class="card-body">
      <p class="card-text">You can see your previously created jobs of your company.</p>
      <a href="/jobs/createdjobs" class="btn btn-primary">View All</a>
    </div>
</div>

<!-- <div class="card mt-3">
    <div class="card-header">
        <h5 class="card-title"><strong>Selected Candidates</strong></h5>
    </div>
    <div class="card-body">
      <p class="card-text">You can see your selected Candidates for your previously created jobs of your company.</p>
      <a href="/jobs/createdjobs" class="btn btn-primary">View All</a>
    </div>
</div> -->

<%- include('../partials/footer') %>