<%- include('../partials/header') %>
<div class="container d-flex justify-content-around">
    <div class="card mt-3">
        <div class="card-header">
            <h5 class="card-title">Create a new Job</h5>
        </div>
        <div class="card-body">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/jobs/new" class="btn btn-primary">New Job</a>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header">
            <h5 class="card-title">Show Created Job</h5>
        </div>
        <div class="card-body">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/jobs/createdjobs" class="btn btn-primary">View All</a>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header">
            <h5 class="card-title">Selected Candidate</h5>
        </div>
        <div class="card-body">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/jobs/selected" class="btn btn-primary">Show</a>
        </div>
      </div>
</div>
<%- include('../partials/footer') %>