<%- include('../partials/header') %>
<div class="containerRh d-flex justify-content-around">

      <div class="card text-white bg-dark mb-5 mt-5 p-3" style="max-width: 22rem;">
        <div class="card-header card-title mt-3 border-primary text-info">Create New Jobs</div>
        <div class="card-body">
          <p class="card-text">Try giving opportunities to our future generations and make sure that they do their best in their own life.</p>
          <a href="/jobs/new" class="btn btn-primary">Create New Job</a>
        </div>
      </div>

      <div class="card text-white bg-dark mb-5 mt-5 p-3" style="max-width: 22rem;">
        <div class="card-header card-title mt-3 border-primary text-info">Show Created Jobs</div>
        <div class="card-body">
          <p class="card-text">You can find your previously made jobs through here and select candidates on basis of your requirement.</p>
          <a href="/jobs/created" class="btn btn-primary">View Created Jobs</a>
        </div>
      </div>

</div>
<%- include('../partials/footer') %>